.goBack {
  padding: 1.8rem 7rem;
  padding-bottom: 2rem;
  font-size: 0.9rem;
  cursor: pointer;
}
.goBack:hover {
  text-decoration: underline;
}
@media screen and (max-width: 640px) {
  .goBack {
    padding: 1.8rem 2rem;
    padding-bottom: 0rem;
  }
}
