.container {
  display: flex;
  flex-direction: row;
  margin: 2rem 7rem;
  gap: 4rem;
}

.leftSide {
  flex: 1;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  max-width: 100%;
  max-height: 100%;
}

.rightSide {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* padding: 4rem; */
}

.textContainer {
  text-align: left;
  padding-left: 8rem;
}

.subheading {
  letter-spacing: 0.5rem;
  color: #d87d4a;
}

.heading {
  font-size: 1.7rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  width: 50%;
  margin: 0.8rem 0;
}

.subText {
  font-size: 1rem;
  color: #666;
  margin-bottom: 1.5rem;
}

/* .paddingAdj {
  padding-left: 0rem;
  padding-right: 8rem;
} */

/* styling for view products starts here... trying to write it in the same module since they have similar elements  */
.viewProductsTab {
  display: flex;
  flex-direction: column;
  gap: 7rem;
}
.featuresContainer {
  display: flex;
  gap: 5rem;
  margin: 0 7rem;
}
.features {
  flex: 60%;
}
.features p {
  color: rgba(0, 0, 0, 0.5);
}
.whatInTheBox {
  flex: 40%;
}
h4 {
  font-size: 1.8rem;
  font-weight: 700;
  /* margin-bottom: 3rem; */
}
.feature-flex {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* styling for the three images that are meant to be here  */
.bottomcontainer {
  display: flex;
  gap: 1rem;
  margin: 0 7rem;
  margin-top: 3rem;
}

.bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bottomleftBox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.bottomimage {
  max-width: 100%;
  max-height: 100%;
  border-radius: 0.5rem;
}

.bottomrightSide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonFlex {
  display: flex;
  gap: 1rem;
}

@media screen and (max-width: 640px) {
  .container {
    flex-direction: column !important;
    margin: 2rem;
    gap: 0rem;
  }
  .textContainer {
    text-align: center;
    padding-left: 0rem !important;
    padding-right: 0rem !important;
  }
  .heading {
    width: 100%;
  }
  .paddingAdj {
    padding: 0rem;
  }
  .buttonFlex {
    justify-content: center;
  }

  /* styling for feature container */
  .featuresContainer,
  .bottomcontainer {
    flex-direction: column;
    margin: 0 2rem;
  }

  .bottomcontainer {
    margin-top: 3rem;
  }

  /* styling for the bottom container */

  .bottom {
    gap: 1rem;
  }
}
